---
import Layout from "@/layouts/Layout.astro";
import "../styles/index.css";

import HeaderOther from "@/components/HeaderOther.astro";
import { ParticipationForm } from "@/components/form/ParticipationForm";
---

<Layout>
  <HeaderOther />
  <main class="my-8 px-4 sm:px-6 lg:px-8">
    <ParticipationForm client:load />
  </main>
</Layout>
